<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @skill_set.user_id %>
</p>

<p>
  <b>Skill name:</b>
  <%= @skill_set.skill_name %>
</p>

<p>
  <b>List order:</b>
  <%= @skill_set.list_order %>
</p>


<%= link_to 'Edit', edit_skill_set_path(@skill_set) %> |
<%= link_to 'Back', skill_sets_path %>
