<%= form_for(@edu_detail) do |f| %>
  <% if @edu_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edu_detail.errors.count, "error") %> prohibited this edu_detail from being saved:</h2>

      <ul>
      <% @edu_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :education_id %><br />
    <%= f.number_field :education_id %>
  </div>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </div>
  <div class="field">
    <%= f.label :detail_order %><br />
    <%= f.number_field :detail_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
