<p id="notice"><%= notice %></p>

<p>
  <b>Education:</b>
  <%= @edu_detail.education_id %>
</p>

<p>
  <b>Detail:</b>
  <%= @edu_detail.detail %>
</p>

<p>
  <b>Detail order:</b>
  <%= @edu_detail.detail_order %>
</p>


<%= link_to 'Edit', edit_edu_detail_path(@edu_detail) %> |
<%= link_to 'Back', edu_details_path %>
