<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tagline</th>
    <th>Description</th>
    <th>City</th>
    <th>Email</th>
    <th>Emailshow</th>
    <th>Headshot url</th>
    <th>Phone</th>
    <th>Facebookshow</th>
    <th>Facebook url</th>
    <th>Twittershow</th>
    <th>Twitter url</th>
    <th>Linkedinshow</th>
    <th>Linkedin url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.tagline %></td>
    <td><%= user.description %></td>
    <td><%= user.city %></td>
    <td><%= user.email %></td>
    <td><%= user.emailshow %></td>
    <td><%= user.headshot_url %></td>
    <td><%= user.phone %></td>
    <td><%= user.facebookshow %></td>
    <td><%= user.facebook_url %></td>
    <td><%= user.twittershow %></td>
    <td><%= user.twitter_url %></td>
    <td><%= user.linkedinshow %></td>
    <td><%= user.linkedin_url %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
