<!-- Container -->
<div id="container">

    <!-- Top -->
	<div class="top"> 
    </div>
    <!-- /Top -->
    
    <!-- Content -->
    <div id="content" >
   		<!-- New User Sign Up  -->
        <div class="userreg-form">
	        <h3 class="main-heading"><span>New User!</span></h3>
            <div id="userreg-status"></div>
			<%= form_for(@user, :html => {:id => "userregform"}) do |f| %>
		    <p>
				<%= f.label :name %>
				<%= f.text_field(:name, :class => "input") %>
			</p>			
			<p>
			    <%= f.label :tagline %>
			    <%= f.text_field(:tagline, :class => "input") %>				
			</p>
			<p>
		    	<%= f.label :description %>
		    	<%= f.text_area(:description, :class => "textarea", :cols =>"88", :rows => "6" ) %>
			</p>
			<p>
		    	<%= f.label :city %>
		    	<%= f.text_field(:city, :class => "input") %>
		    </p>
			<p>
				<%= f.label :headshot_url %>
		    	<%= f.text_field(:headshot_url, :class => "input") %>
		    </p>
			<%= f.submit(:class => "submit", :value => "Resumebot It!") %>
			<% end %>
		</div>	
		<!-- /New User Sign up -->
        
    </div>
    <!-- /Content -->
    
</div>
<!-- /Container -->
