<div style="float:right; margin-right:10px">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> 
</div> 

<!-- Container -->
<div id="container">

    <!-- Top -->
	<div class="top"> 
    	<!-- Logo -->
    	<div id="logo">
        	<h2><%= @user.name %></h2>
            <h4><%= @user.tagline %></h4>
        </div>
        <!-- /Logo -->
        
        <!-- Social Icons -->
        <ul class="socialicons">
        	<li><a href="#" class="social-text">SOCIAL PROFILES</a></li>
        	<li><a href="<%= @user.facebook %>" class="social-facebook"></a></li>
            <li><a href="<%= @user.twitter %>" class="social-twitter"></a></li>
            <li><a href="<%= @user.linkedin %>" class="social-in"></a></li>
        </ul>
        <!-- /Social Icons -->
    </div>
    <!-- /Top -->
    
    <!-- Content -->
    <div id="content" >
    
        <!-- Profile -->
        <div id="profile"> 
         	<!-- About section -->
        	<div class="about">
            	<div class="photo-inner">
					<img src="<%= @user.picture %>" width="170" />
				</div>
                <h1><%= @user.name %></h1>
                <h3><%= @user.tagline %></h3>
                <p><%= description? %></p>
            </div>
            <!-- /About section -->
             
            <!-- Personal info section -->
        	<ul class="personal-info">
				<li><label>Name</label><span><%= @user.name %></span></li>
                <li><label>City</label><span><%= @user.city %></span></li>
				<li><label>Email</label><span></span></li>
            </ul>
            <!-- /Personal info section -->
        </div>        
        <!-- /Profile --> 

        <!-- Menu -->
        <div class="menu">
        	<ul class="tabs">
            	<li><a href="#profile" class="tab-profile">Profile</a></li>
            	<li><a href="#resume" class="tab-resume">Resume</a></li>
 				<li><a href="#portfolio" class="tab-portfolio">Portfolio</a></li>
            	<li><a href="#contact" class="tab-contact">Contact</a></li>
            </ul>
        </div>
        <!-- /Menu --> 
        
        <!-- Resume -->
        <div id="resume">
        	 <div class="timeline-section">
                <!-- Timeline for Employment  -->   
                <h3 class="main-heading"><span>Experience</span></h3>   
                <ul class="timeline">
 				<!-- Show User's Experience sorted by .list_order -->
                   <% @experiences.order("list_order ASC").each do |work| %>
					<li>                                          
                        <div class="timelineUnit">
                            <h4><%= work.title %><span class="timelineDate"><%= work.date %></span></h4>
                            <h5><a href="<%= work.company_url %>"><%= work.company %></a></h5>
							<% work.exp_details.order("detail_order ASC").each do |descrip| %>
							<p><%= descrip.detail %></p>
							<% end %>
                        </div>
                    </li>
					<% end %>
				<!-- End Experiences Loop -->

                    <div class="clear"></div>
                </ul> 
                <!-- /Timeline for Employment  -->

                <!-- Timeline for Education  -->   
                <h3 class="main-heading"><span>Education</span></h3>   
                 <ul class="timeline">
	                   <% @educations.order("list_order ASC").each do |educ| %>	
                	    <li>            
	                        <div class="timelineUnit">
	                            <h4><%= educ.study %><span class="timelineDate"><%= educ.graduation %></span></h4>
	                            <h5><a href="<%= educ.institution_url %>"><%= educ.institution %></a></h5>
								<% educ.edu_details.order("detail_order ASC").each do |descrip| %>
								<p><%= descrip.detail %></p>
								<% end %>
	                        </div>
	                    </li>
					<% end %>
                     <div class="clear"></div>
                </ul> 
                <!-- /Timeline for Education  -->              
            </div>
            <div class="skills-section">
                <!-- Skills -->
				<% @skillsets.each do |ski| %>
                <h3 class="main-heading"><span><%= ski.skill_name %></span></h3> 
                <ul class="skills">
				<% ski.skills.each do |indski| %>
                    <li>
                        <h4><%= indski.title %></h4>
                        <span class="rat<%= indski.rank %>"></span>
                    </li>
				<% end %>
                </ul>
				<% end %>
 
             <!-- /Skills -->
             </div>
        </div>
        <!-- /Resume --> 
                                
        <!-- Portfolio -->
        <div id="portfolio">

             <ul id="portfolio-filter">
                <li><a href="" class="current" data-filter="*">All</a></li>
                <li><a href="" data-filter=".webdesign">Loft Renovation</a></li>
                <li><a href="" data-filter=".photoghraphy">Testimonials</a></li>
                <li><a href="" data-filter=".webdesign">Presentations</a></li>
            </ul>
            <div class="extra-text">Work Portfolio</div>
            <ul id="portfolio-list">
                <li class="illustration print">
                    <a src="../assets/portfolio/1.jpg" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mi eu elit tempor facilisis id et neque" rel="portfolio" class="folio">
                        <img src="../assets/portfolio/1-thumb.jpg" alt="">
                        <h2 class="title">Hello Goodbye</h2>
                        <span class="categorie">Print / Illustration</span> 
                    </a>
            	</li>
                <li class="webdesign">
                    <a href="http://www.youtube.com/embed/c9MnSeYYtYY?autoplay=1" rel="portfolio" class="folio iframe">
                        <img src="../assets/portfolio/3-thumb.jpg" alt="" >
                        <h2 class="title">Snow time</h2>
                        <span class="categorie">Webdesign</span> 
                    </a>
            	</li>                        
                <li class="photoghraphy">
                    <a href="http://www.google.com" rel="portfolio" target="_new">
                        <img src="../assets/portfolio/2-thumb.jpg" alt="" >                            
                        <h2 class="title">Help us</h2>
                        <span class="categorie">Photography</span> 
                    </a>
            	</li>
                <li class="animation print">
                    <a src="../assets/portfolio/4.jpg" rel="portfolio" class="folio">
                        <img src="../assets/portfolio/4-thumb.jpg" alt="" >
                        <h2 class="title">Sunshine</h2>
                        <span class="categorie">Print / Animation</span> 
                    </a>
            	</li>
                <li class="animation">
                    <a src="../assets/portfolio/5.jpg" rel="portfolio" class="folio">
                        <img src="../assets/portfolio/5-thumb.jpg" alt="" >
                        <h2 class="title">Come together</h2>
                        <span class="categorie">Animation</span> 
                    </a>
            	</li>
                <li class="webdesign print">
                    <a src="../assets/portfolio/6.jpg" rel="portfolio" class="folio">
                        <img src="../assets/portfolio/6-thumb.jpg" alt="" >
                        <h2 class="title">The yellow</h2>
                        <span class="categorie">Webdesign / Print</span> 
                    </a>
            	</li>
                <li class="photoghraphy">
                    <a src="../assets/portfolio/7.jpg" rel="portfolio" class="folio">
                        <img src="../assets/portfolio/7-thumb.jpg" alt="" >
                        <h2 class="title">Black bird</h2>
                        <span class="categorie">Photoghraphy</span> 
                    </a>
            	</li>
                <li class="illustration">
                    <a src="../assets/portfolio/8.jpg" rel="portfolio" class="folio">
                        <img src="../assets/portfolio/8-thumb.jpg" alt="" >
                        <h2 class="title">Revolution</h2>
                        <span class="categorie">Illustration</span> 
                    </a>
            	</li>
            </ul>
        </div>
        <!-- /Portfolio -->   
        
        <!-- Contact -->
        <div id="contact">
        	<div id="map"></div>
        	<!-- Contact Info -->
            <div class="contact-info">
            <h3 class="main-heading"><span>Downtown Address</span></h3>
        	<ul>
                <li><strong>Located in Willis Tower</strong></li>
                <li>233 South Wacker Drive, #8400</li>
				<li>Chicago, Illinois 60603</li>
			</ui>
			</div>
			<div class="contact-info">
            <h3 class="main-heading"><span>Suburban Address</span></h3>
        	<ul>
                <li><strong>Located in The Glen</strong></li>
                <li>2638 Patriot Boulevard, #100</li>
				<li>Glenview, Illinois 60026</li><br/>					
            </ul>
            </div>
			<div class="contact-info">
            <h3 class="main-heading"><span>Email Address</span></h3>
        	<ul>
                <li>kroll.nate@gmail.com</li>
            </ul>
            </div> -->
            <!-- /Contact Info -->
            
            <!-- Contact Form -->
            <div class="contact-form">
                <h3 class="main-heading"><span>Let's Talk</span></h3>
                <div id="contact-status"></div>
                <form action="" id="contactform">
                    <p>
                    	<label for="name">Your Name</label>
                    	<input type="text" name="name" class="input" >
                    </p>
                    <p>
                    	<label for="email">Your Email</label>
                    	<input type="text" name="email" class="input">
                    </p>
                    <p>
                    	<label for="message">Your Message</label>
                        <textarea name="message" cols="88" rows="6" class="textarea" ></textarea>
                    </p>
                    <input type="submit" name="submit" value="Send your message" class="submit">
                </form>
            </div> 
            <!-- /Contact Form -->
		</div> 
        <!-- /contact -->  

    </div>
    <!-- /Content -->
    
    <!-- Footer -->
	<div class="footer">
    	<div class="copyright">Copyright © 2012 <%= @user.name %></div>
    </div>
    <!-- /Footer --> 
    
</div>
<!-- /Container -->

