<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @education.user_id %>
</p>

<p>
  <b>Study:</b>
  <%= @education.study %>
</p>

<p>
  <b>Institution:</b>
  <%= @education.institution %>
</p>

<p>
  <b>Institution url:</b>
  <%= @education.institution_url %>
</p>

<p>
  <b>Graduation:</b>
  <%= @education.graduation %>
</p>

<p>
  <b>List order:</b>
  <%= @education.list_order %>
</p>


<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
